/* Styles for Main Container and Input Container*/
.Container, .InputContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  font-family: "Poppins", sans-serif;
}

.Container {
  flex-direction: column;
  align-items: flex-start;
}

.InputContainer {
  position: relative;
}


/* Styles for Label */
.InputLabel{
  font-size: 1.1em;
  color: var(--font-title-color);
}

/* Styles for Input */
.InputField {
  width: 100%;
  height: 40px;
  padding: 10px 10px 10px 40px;
  border-radius: 8px;
  border-style: none;

  font-family: inherit;
  font-weight: 600;
  font-size: 1em;
  color: var(--font-dark-color);

}

.InputField::placeholder{
  font-weight: 400;
  color: #949393;
}

.InputField:focus{
  outline: 3px solid var(--secondary-color);
}


/* Styles for Icon img */
.IconInputField {
  position: absolute;
  top: 10px;
  left: 10px;
  right: 0;
  bottom: 0;
  width: 20px;
}


/* Styles for Error span */
.ErrorInputField{
  font-size: .9em;
  color:var(--secondary-color);
}

@media only screen and (min-width:1600px) {
  .Container{
    width: 80%;
  }

  .InputField {
    height: 60px;
    padding-left: 50px;
  }

  .IconInputField {
    position: absolute;
    top: 14px;
    left: 10px;
    right: 0;
    bottom: 0;
    width: 30px;
  }
}