
.comp_card { 
    margin-bottom: 20px;
}
.card {
    border-radius: 18px;
    background: rgb(255, 255, 255);
    font-family: roboto;
    transition: 0.5s ease;
    cursor: pointer;
    width: 300px;
    height: 400px;
    margin-bottom: 5px;
}
.imgn {
    grid-area: image;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
    width: 300px;
    height: 200px;
}
.cardimage {
    grid-area: image;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
    width: 100%;
}
.titlec {
    margin-bottom: 20px;
    color: var(--font-dark-color);
    text-align: left;
}
.otherText{
    text-align: left;
}
.cardtext {
    font-family: "Poppins", sans-serif;
    grid-area: text;
    margin: 25px;
    font-size: 15px;
}
.textstars {
    padding-top: 10px;
    font-size: 20px;
    color: azure;
}
.cardtext h1 {
    color: rgb(49, 49, 49);
    font-size: 1.7em;
}
.cardtext p {
    color: rgb(71, 70, 70);
    font-size: 15px;
    font-weight: 300;
}
.cardstars {
    grid-area: stats;
    display: block;
    grid-template-columns: 1fr 1fr 1fr;
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
    align-items: center;
    padding-top: 20px;
}
.cardstars {
    display:flex;
    justify-content: center;
    color: rgb(171, 145, 29);
    border-color: black;
    margin-top: -30px;
    margin-bottom: 30px;
}
.card:hover {
    box-shadow: 0 0 3px 3px rgba(78, 78, 76, 0.75),
    0 40px 25px -15px rgba(0, 0, 0, 0.35);
}
.titleprice {
    position: absolute;
    color: rgba(0, 0, 0, 0.35);
}
.titlestar{
    text-align: left;
    bottom: -10px;
}
.UL{
    margin-bottom: 20px;
    position: relative;
    bottom: 20px;
}
.like{
    position: absolute;
    margin-left: 230px;
}  
