.container {
    position: relative;
    margin: auto;
}
.card{
    position: relative;
    border-radius: 18px;
    background-color: rgb(33, 39, 52);
    background-position: center;
    color: white;
    transition: 0.5s ease;
    cursor: pointer;
    margin:30px;
    width: 300px;
    border-style: solid;
    border-width: 3px;
    border-color: white;
}