label,
p {
    font-size: 18px;
    color: whitesmoke;
}

/* p {
    font-size: 16px;
} */
#ask {
    margin-bottom: -13px;
    margin-left: 259px;
    padding-left: 12px;
}

#title {
    font-size: 23px;
    font-weight: bolder;
    margin-bottom: 12px;
    display: flex;
    justify-content: flex-start;
    margin-left: 2px;
    padding-top: 2px;
    border-top: 1px solid #EEE;
}

#cost {
    color: rgb(70, 167, 21)
}

h3 {
    color: wheat;
}

/* select,
button {
    /* margin-right: 0px; */
/* } */
.twins {
    width: 18%;
    height: 34px;
    border-radius: 10px;
    margin: 0px;
}

.specific_select {
    background-color: #EEE;
}

.calc_button {
    color: white;
    background-color: green;
}

.calc_button,
.specific_select {
    width: 40%;
    height: 34px;
    border-radius: 10px;
}

.selects,
.buttons {
    display: flex;
    justify-content: space-between;
    /* align-items: center;  */
    /* border: 2px solid wheat; */
    /* margin: auto; */
}

.disaffected {
    /* border: 1px solid yellow; */
    height: 220px;
    width: 1000px;
    /* --dark-color: #212734; */
    background: #252C38;
    padding: 6px;
    border-radius: 8px;
    border-top-right-radius: 0px;
    border-bottom-right-radius: 0px;
}

.main_div {
    /* height: 200px; */
    /* background-color: #EEE; */
    display: flex;
    justify-content: start;
    align-items: center;
    /* border: 2px solid red; */
    margin: auto;
    /* width: 100%; */
}

.horiz {
    /* height: 200px; */
    /* background-color: #EEE; */
    display: block;
    justify-content: center;
    align-items: center;
    /* border: 2px solid wheat; */
    /* margin: auto; */
    /* width: 100%; */
}

#calc {
    width: 37%;
}

#result {
    margin-top: -49px;
    width: 17%;
    height: 217px;
    border-right: 1px solid #EEE;
}

#res {
    margin-top: 8px;
    padding-top: 4px;
    padding-bottom: 3px;
    color: black;
    min-width: 85%;
    max-width: 92%;
    background-color: #EEE;
    height: 30px;
    border-radius: 10px;
}

.client {
    /* border-left: 2px solid #EEE; */
    width: 45%;
    padding: 12px;
    padding-right: 24px;
    text-align: start;
    margin-bottom: -15px;
}

#kml {
    margin: 29px 95px auto auto;
}