.top{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    margin-top: 7%;
    margin-bottom: 3%;
    justify-items: center;
}
.profileImg{
    display: flex;
    background-color: var(--secondary-color);
    height: 150px;
    width: 150px;
    border-radius: 50%;
    justify-content: center;
    align-items: center;

}
.profileImg > .imgprofile{
    height: 90%;
    width: 90%;
    border-radius: 50%;
    
}
.name{
    color: var(--primary-color);
}
.mail{
    color: var(--secondary-color);
}
.userData{
    grid-column: 2/2;
}
.liLogo {
    display: flex;
}
.navLink {
    display: block;
    background-color: #212734;
    color: #FED428;
    padding: 18px 16px;
    text-decoration: none;
}
.navLink:hover {
    background-color: #111;
}
.logo {
    max-width: 100%;
    max-height: 100%;
}
.starsBox{
    display: flex;
    background-color: #b4b4b469;
    gap: 30px;
    justify-content: space-between;
    padding: 0.5%;
    margin-top: 5%;
    margin-left: 27%;
    margin-right: 27%;
    border-radius: 20px;
    text-decoration: none;
}
.starsBox:hover {
    background-color: #b4b4b43a;
}
.rating{
    color: var(--primary-color);
    text-decoration: none;
}
.vots{
    display: flex;
    gap: 10px;
}
Link{
    text-decoration: none;
}