.travelling{
    position: relative;
    left: 400px;
    bottom: 100px;
    font-size: 30px;
    color: var(--clear-color);
}

.cancel {
    position: relative;
    left: 400px;
    bottom: 100px;
    font-size: 30px;
    /* color: var(--clear-color); */
}

.review{
    position: relative;
    left: 390px;
    bottom: 150px;
}