.bigContainer{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.titleE{
    display: flex;
    margin: 4%;
    align-items: center;
    gap: 10px;
}
.titleTextY{
    color: var(--primary-color);
}
.logo{
    height: 90px;
}
.subTitleP{
    color: var(--secondary-color);
}
.titleAns{
    color: var(--primary-color);
}
.answer{
    color: var(--clear-color);
}
.Answers{
    width: 50%;
}
.subTitleEmail{
    color: var(--secondary-color);
}
.email{
    color: var(--secondary-color);
    text-align: center;
}
.boxSubTitleEmail{
    margin: 4%;
}