.MainContainer {
  width: 100%;
  min-height: 100vh;
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  justify-content: space-between;
}

.backgroundimag {
  margin: 6px;
  width: 100%;
}

.LogoDesktop {
  width: 100%;
  height: 180px;
  object-fit: cover;
}

.TextContainer {
  width: 90%;
  padding: 7px;
}

.TextContainer2 {
  align-items: center;
}

.Text {
  color: var(--clear-color);
  text-shadow: 0 0 1px rgb(0, 0, 0);
  font-size: 14px;
  text-align: center;
}

.witheText {
  color: var(--font-title-color);
  font-size: 18px;
  text-align: center;
}

.yellowText {
  color: var(--font-title-yellow-color);
  font-size: 18px;
  text-align: center;
}

.linkDecoration {
  text-decoration: none;
}

@media only screen and (min-width: 800px) {
  .LogoDesktop {
    height: 200px;
    /* object-fit: contain; */
  }

  .Text{
    font-size: 16px;
  }
}

@media only screen and (min-width: 1280px) {
  .LogoDesktop {
    height: 280px;
    padding: 2px;
    /* object-fit: scale-down; */
  }

  .Text{
    font-size: 16px;
  }

  .TextContainer{
    width: 65%;
  }
}

@media only screen and (min-width: 1920px) {
  .LogoDesktop {
    height: 400px;
    padding: 2px;
    /* object-fit: scale-down; */
  }

  .Text{
    font-size: 22px;
  }

  .TextContainer{
    width: 65%;
  }
}