.MainContainer{
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.LogoDesktop{
  width: 100%;
  margin-top: 2%;
}

.TextContainer{
 
  width: 60%;
  align-items: center;
}
.TextContainer2{
  align-items: center;
  margin-top: 2%;
  margin-bottom: 2%;
}
.Text{
  color: var(--font-title-color);
  font-size: 20px;
  text-align: center;
  display: none;
}
.witheText{
  color: var(--font-title-color);
  font-size: 18px;
  text-align: center;
  display: none;
}
.yellowText{
  color: var(--font-title-yellow-color);
  font-size: 18px;
  text-align: center;
  display: none;
}
.linkDecoration{
  text-decoration: none;
}
/* Media queries for large-size devices (Laptop & Desktop) */
@media screen
and (min-device-width: 1200px) {
.ContainerLogin{
  flex-direction: row;
  width: 75%;
  gap: 70px;
}

.ImageContainer{
  background: transparent;
  gap: 20px;
  justify-content: center;
}

.LogoDesktop {
  display: block;
}

.Text {
  display: block;
}
.witheText {
  display: block;
}
.yellowText {
  display: block;
}

.middleImg{
  display: block;
}
}