.columns{
    display: flex;
    justify-content: space-evenly;
    color: white;
    font-size: 1.7em;
    border: 1px solid black;
}

#not_ban{
    position: relative;
    right: 18px;
}

#ban{
    position: relative;
    right: 10px;
}

#email{
    position: relative;
    right: 15px;
}
#divBtn{
    position: absolute;
    width: fit-content;
    right: 5cm;
    top: 0px;
}

.btn{
    font-size: 1.7em;
    height: 40px;

}