.MainContainer{
  width: 100%;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 16px;
}

/* .MainContainer, .ContainerLogin, .ImageContainer{
  display: flex;
  flex-direction: column;
  align-items: center;
} */

.ContainerLogin{
  display: flex;
  flex-flow: column nowrap;
  width: 100%;
  min-height: 100vh;
  /* background-color: rebeccapurple; */
  gap: 10px;
}


/* Styles for Container Image */
.ImageContainer{
  width: 100%;
  min-height: 10vh;
  /* background-color: green; */
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  justify-content: center;
  object-fit: contain;
}

.Image{
  height: 100%;
  display: none;
}

.LogoDesktop{
  width: 250px;
  height: auto;
}


@media only screen and (min-width:768px){
  .Image{
    display: block;
    width: 70%;
    height: auto;
  }

  .ContainerLogin{
    padding: 20px;
    /* background-color: green; */
    flex-flow: row nowrap;
    align-items: center;
    justify-content: center;
  }

  .LogoDesktop{
    width: 60%;
  }

}

@media only screen and (min-width:1600px){
  .ContainerLogin{
    font-size: 24px;
  }
}

@media only screen and (min-width:1920px){
  .ContainerLogin{
    font-size: 28px;
  }
}